html {
  background-color: black;
  height: 100%;
  width: 100%;
}

select {
    position: fixed;
    top: 10%;
    left: 50%;
    width: auto;
    height: auto;
    margin: auto;
    border-radius: 100px;
  }
select,
option {
  color: dodgerblue;
}

h1 {
  color: lightgreen;
  position: fixed;
  top: 4%;
  left: 50%;
  text-align: center;
  font-size: larger;
  text-decoration: underline;
  font-style: italic;
  font-weight: bold;
}

.no1 {
  color: darkblue;
}

.selection {
  color: red;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
}