html {
  background-color: black;
}

select {
    position: fixed;
    top: 10%;
    left: 50%;
    width: auto;
    height: auto;
    margin: auto;
    border-radius: 100px;
  }

h1 {
  color: lightgreen;
  position: fixed;
  top: 4%;
  left: 50%;
  text-align: center;
  font-size: larger;
  text-decoration: underline;
  font-style: italic;
  font-weight: bold;
}

.option {
  color: dodgerblue;
}

.no1 {
  color: darkblue;
}